/*csslint order-alphabetical: false*/

.fo-menu {
    height: 80px;
    background-color: aqua;
}
    
.menupont {
        height: 40px;
    /*körbe mindenhol 10px a margin*/
       /* margin: 10px;*/
       /*margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;*/
      /*az előző 3 sor rövidítve így néz ki*/
    margin: 10px 0 10px 10px;/*fölülről jobbra alul balra*/
    
        background-color: blue;
        color: white;
        display: inline-block;
       
    
        /*padding-top: 22px; 
        padding-left: 10px;
        padding-right: 10px;*/
        padding: 22px 10px 0 10px;/*előző 3 sor így néz ki; fent,jobbra,alul, balra*/
}


.tartalom {
    background-color: lightgrey;
    height: 1000px; /*ez csak azért kell,h a scrollbar megjelenjen*/
   /* bizonyos css property-ket nm ajánlott használni, mert nem minden böngészőben ismeri. caniuse.com weboldallal ellenőrizhetjük */
    /*zoom: 0.1;*/
}









/*#learnabout  box-modell https://www.w3schools.com/css_boxmodel.asp*/